#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#

*.proto
*.proto.txt

d3proto.suo

d3emu/bin/
d3emu/obj/
d3proto/bin/
d3proto/obj/
protod/bin/
protod/obj/

tools/protod.exe
tools/protod.pdb
tools/protod.vshost.exe
tools/protod.vshost.exe.manifest
